@font-face {
  font-display: swap;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/inter-v13-cyrillic_latin-regular.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/inter-v13-cyrillic_latin-500.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Bluu Next Cyrillic';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/Bluu\ Next\ Cyrillic.woff2') format('woff2');
}

html {
  scroll-behavior: smooth;
}

:root {
  --color-main: #fabf59;
  --color-orange: #f9b50c;
  --color-dark: #1d1d1d;
  --color-white: #ffffff;
  --color-gray: #d9d9d9;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Bluu Next Cyrillic', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.3;
  color: var(--color-orange);
  background-color: var(--color-dark);
}

a {
  transition: all 0.5s ease-out;
}

img {
  text-indent: -9999px;
}

.main {
  background-image: url(/images/main-photo.jpg);
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  height: 788px;
}

.main__introduce {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  align-items: center;
}

.heading {
  font-size: 80px;
  letter-spacing: 0.01em;
  color: var(--color-main);
  text-align: center;
  text-transform: uppercase;
  padding: 100px 0 70px;
}

.button {
  height: 60px;
  border-radius: 30px;
  border: solid 1px var(--color-orange);
  font-family: 'Bluu Next Cyrillic', sans-serif;
  font-weight: 700;
  font-size: 18px;
  background-color: transparent;
  cursor: pointer;
}

.main-button {
  width: 300px;
  background-color: var(--color-orange);
  color: var(--color-dark);
}

.allCharacters {
  width: 100%;
  top: 692px;
}

.allCharacters.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  display: none;
}

.is-hidden {
  display: none;
}

.allCharacters__wrap {
  display: flex;
  gap: 20px;
  justify-content: center;
  flex-wrap: wrap;
}

.allCharacters__card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding-bottom: 100px;
}

.allCharacters__img {
  width: 100%;
  max-width: 400px;
  border-radius: 20px;
}

.allCharacters__button {
  width: 320px;
  color: var(--color-orange);
}

.students,
.stuff,
.gryffindor,
.slytherin,
.ravenclaw,
.hufflepuff {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding-bottom: 100px;
}

.card {
  position: relative;
  width: 100%;
  max-width: 294px;
  flex-shrink: 0;
  border-radius: 20px;
  background-image: linear-gradient(
    360deg,
    #0f0f0f -0.99%,
    rgba(15, 15, 15, 0.74) 31%,
    rgba(15, 15, 15, 0) 70%
  );
}

.cardText {
  font-family: Inter, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.4;
  color: var(--color-main);
  margin-top: 282px;
  padding: 0 0 20px 20px;
}

.bgrImg {
  width: 100%;
  height: 100%;
  position: absolute;
  background-image: url(/images/hogwarts.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 20px;
  top: 0;
  z-index: -2;
}

.innerText {
  font-family: Inter, sans-serif;
  font-weight: 500;
  line-height: 1.4;
  color: var(--color-white);
}

.characterName {
  font-size: 26px;
  margin-bottom: 5px;
}

.margin {
  margin-bottom: 3px;
}

.moreInfo {
  position: relative;
  font-size: 16px;
  margin-top: 15px;
}

.arrow {
  position: relative;
  z-index: 1;
}

.cirle {
  position: absolute;
  top: 0;
  left: 160px;
  width: 20px;
  height: 20px;
  background-color: var(--color-orange);
  border-radius: 50%;
  /* z-index: -1; */
}

.hover {
  visibility: hidden;
  position: absolute;
  width: 100%;
  max-width: 294px;
  color: var(--color-main);
  border-radius: 20px;
  padding: 20px;
  background-color: var(--color-dark);
  top: 22px;
  left: 0;
  transition-property: visibility;
  transition-delay: 0.3s;
}

.card .cardText .moreInfo:hover .hover {
  cursor: pointer;
  visibility: visible;
  z-index: 1000;
}

.container {
  width: 100%;
  max-width: 1240px;
  margin: 0 auto;
  padding-bottom: 100px;
}

.navigation {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--color-gray);
  border-radius: 100px;
  margin-bottom: 50px;
  height: 60px;
}

.houses {
  display: flex;
  width: 1240px;
  padding: 0;
}

li {
  position: relative;
  list-style: none;
  width: 100%;
  max-width: 312px;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.active {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color-white);
}

.li_inner {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  letter-spacing: 0.01em;
  text-transform: uppercase;
}

.indicator {
  position: absolute;
  top: 0;
  width: 314px;
  height: 60px;
  background-color: var(--color-orange);
  box-sizing: border-box;
  border-radius: 100px;
  transition: 0.5s;
  z-index: -1;
}

li.active ~ .indicator {
  --x: 0;
  transform: translateX(var(--x));
}
li:nth-child(2).active ~ .indicator {
  --x: 326px;
}
li:nth-child(3).active ~ .indicator {
  --x: 634px;
}
li:nth-child(4).active ~ .indicator {
  --x: 926px;
}

.not-showed {
  display: none;
}

.text_color {
  color: var(--color-white);
}

.capitalize {
  text-transform: capitalize;
}
